* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}

main.clickArea {
  background-color: #00000050;
  color: #fff;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

h1.title {
  margin-top: 1rem;
  text-align: center;
}

h2.wallet {
  text-align: center;
}

button.stockPaper {
  width: 100px;
  height: 50px;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  /* visibility: visible; */
  z-index: 10;
  cursor: pointer;
}

h1.side-side {
  display: flex;
}

div.collum {
  display: flex;
  flex-direction: column;
}
