* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: manipulation;
}

main.clickArea {
  background-color: #fff;
  color: #000;
  width: 67%;
  height: 100vh;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

span.toastNotification {
  position: absolute;
  z-index: 99;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  transition: ease-in-out;
}

@keyframes popUp {
  0% {
    top: -35%;
    opacity: 0;
    visibility: hidden;
  }

  25% {
    visibility: visible;
    opacity: 100%;
    top: 10%;
  }

  75% {
    visibility: visible;
    opacity: 100%;
    top: 10%;
  }

  100% {
    top: -35%;
    opacity: 0;
    visibility: hidden;
  }
}

main.clickArea div.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.clickArea div.info div.date {
  display: flex;
}

main.clickArea div.info div.date-money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
}

div.side-to-side {
  display: flex;
  gap: .3rem;
}

/* Info and investment style section  */

section {
  width: 33%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #000;
}

section div.stockHandle div.side-to-side h1 {
  display: flex;
}

section div.patrimony {
  background-color: green;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 4rem;
}

section nav {
  display: flex;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 5rem;
  height: 4rem;
}

section nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section nav ul li {
  display: flex;
  cursor: pointer;
  width: 25%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
  transition: .5s ease-in-out;
}

div.stockHandle {
  opacity: 0;
  visibility: hidden;
}

section nav ul li.active {
  background-color: #109251;

  & div.stockHandle {
    display: flex;
    opacity: 1;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    color: #000;
    background-color: #fff;
    visibility: visible;

    & h1 {
      text-align: center;
      font-size: xx-large;
    }

    & button.buyStockBtn,
    button.quantityBtn {
      width: 33%;
      margin: 1rem auto;
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      border-radius: 4px;
      cursor: pointer;
      padding: 0.3rem;
    }
  }

  & div.gameStatus {
    position: absolute;
    top: 5rem;
    right: 0%;
    width: 100%;
    padding: 1rem;
    color: #000;
    visibility: hidden;
    opacity: 1;
    visibility: visible;
  }
}

div.gameStatus {
  opacity: 0;
  visibility: hidden;
}

section nav ul li:hover {
  background-color: #085d32;
}



section div.gameMenu {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

button.resetBtn,
button.difficulty {
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  transition: 0.5s ease-in-out;
}

button.resetBtn:hover {
  background-color: red;
  color: #fff;
}

button.difficulty:hover {
  background-color: #eeff00;
  color: #000;
}

button.statusBtn {
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  transition: 0.5s ease-in-out;
}

button.statusBtn:hover {
  background-color: #0000cc;
  color: #fff;
}

/* Money style section */

div.walletDiv {
  display: flex;
  gap: 0.3rem;
}

/* Stats style */

button.showStats {
  position: absolute;
  bottom: 30%;
  left: 50%;
}

div.gameStatus {
  position: absolute;
  top: 4%;
  right: 2%;
  padding: 1rem;
  border-radius: 8px;
  visibility: hidden;
  background-color: #fff;
}

/* Toast Notification Style */

@media only screen and (max-width: 431px) {
  body {
    flex-direction: column;
  }

  main.clickArea {
    height: 50%;
    width: 100%;
  }

  div.gameMenu {
    position: static;
    width: 100%;
  }

  div.stockHandle {
    width: 90%;
  }

  section {
    width: 100%;
  }

  button.showStats {
    position: absolute;
    top: 25%;
    right: 1%;
  }

}

@media only screen and (max-width: 769px) {
  body {
    flex-direction: column;
  }

  main.clickArea {
    height: 50%;
    width: 100%;
  }

  div.gameMenu {
    position: static;
    width: 100%;
  }

  div.stockHandle {
    width: 90%;
  }

  section {
    width: 100%;
  }

  button.showStats {
    position: absolute;
    top: 25%;
  }
}